# Cause I have proposals and reports here
*.pdf
notes.txt

# General Python stuff
__pycache__/
*.py[cod]
*.egg-info/
.env
.vscode/
.idea/
.DS_Store
*.log
db.sqlite3

# Our Generator's output
Logs_Generator/NDN_Logs/
Logs/*
!Logs/*.tar.gz
!Logs/README.md
*.csv

.ipynb_checkpoints/
Results/
.DS_Store